<h4>You are welcome to select from the following Four Types of Session:</h4>

<p>
  <strong>INTENSIVE ONE HOUR WHOLE-LIFE-ANALYSIS:</strong> This Session begins at the beginning, and goes right to the end of the life. Depth analysis of your key issues. I focus on the client's potential and its development into the future. And, compare where you are now with where you can be according to your needs, goals, aspirations. Then I guide you to the smoothest path toward the evolution of your personal choices. HYPOTHETICAL SCENARIOS: I test your 'What if ..' alternative paths to see if you're on the best one. Ask all your questions as I watch what happens to you on those paths. OTHER MINDS clarifies what they want you to know and why. THE RETROSPECTIVE Drawing forward your own Elder Self - who you will be in the last ten to fifteen year stage of your life. Visiioning your last Self, I can tell you your own late-life assessment of entire your life. Ask your Elder Self any question, I will transfer that information to you. As in all Sessions, where relevant, I penetrate subconscious levels to access the deeper meanings, intentions, potentials of you or any relevant other. Career. Relationship Paths/Options. Key Points. Clairvoyant Diagnosis. Tape included.
</p>

<p>
  <strong>HALF HOUR CHECK-UP:</strong> focuses on core issues. Ask your most important questions of life, of yourself, of others. I will draw the answers from the universe; from those who want to guide you; and from your own energy field, which contains all information. Like a Check-Up at the doctor's, when you have several significant points to make but feel generally ok.
TELEPHONE READING: These Sessions are wonderful. As I am free from physical proximity to the client, my mind ranges quickly over their needs and questions. The client: 1) Prepares their key questions, omitting all background information. 2) Selects either an hour or a half hour session; 3) Selects a mutually convenient time for the Session. 4) Sends me their check. 5) Calls me at the appointed time. As with all Sessions, I sit in meditation about ten minutes before the client is due to call, during which I will have picked up their key issues. When the call arrives, I go straight into the Session without any formalities. I tape the Session, and mail this to the client.
</p>

<p>
  <strong>EMAIL READING:</strong> Over the years, many clients have requested Email Readings. When I am in America, European clients may want a Session. When I am in Europe, Americans want a Session. Initially, I hesitated, because I thought that clients might be short-changed by not having the experience of questioning me directly. However, after much persuasion from clients, I decided to offer Email Readings and found them to be exceedingly valuable. The client: 1) Emails their key questions, omitting any background information. 2) Selects an Hour or a Half Hour Session. 3) Sends me their check. I sit in meditation on the Questions, according to the Session selected, and type the answer(s) (and much more) on to single-spaced A4 pages. Normally, a One Hour Session provides ten to fifteen pages. A Half Hour, about five pages. I either email the pages or mail the hard copy to the client, as requested.
</p>

<h4>BOOKING LINE:</h4>

<address>
  <strong>Boston</strong><br>
  <a href="mailto:secularmedium@yahoo.com">secularmedium@yahoo.com</a><br>
  <abbr title="Phone">P:</abbr> 6179530223
</address>
