<div class="well">
<h5>An excerpt from JUDE'S GHOST:</h5>
I explained that the very real appearance of 'presences' in the home; the mysterious sense of being watched, the shocking sight of objects flying around a room; sounds, voices and so on are always manifestations, not of ghosts, not of inexplicable dangerous external somethings, but are projections of a disturbed person in the home, usually but not always a child, who is subconsciously creating the perceived phenomena. I said, 'Our world reflects us. When we are disordered, our environment rumbles. Whisper in the wind, it is calm. Now shout! It splinters, breaks . . . tornadoes assail us'.
'Over the years, each time I was called to a house inhabited by a 'ghost', I always focussed straight into the distressed person who was inadvertently projecting the 'haunting' out of their own inner turmoil. I watched the person's agitated vibration explode out of him and shiver through the rooms perturbating the vibration of the whole house. The inner and the outer are one. Our environment mirrors our own inner movements - maelstrom, or peace; like water shaping itself around us as we pass through. Just as internal chaos can cause a body's organic illness, so it can disrupt the energy field around us and create a kind of 'sick house' whose healing requires our own'. (Excerpted from my fictionalized Case Study, Jude's Ghost, Kindred Spirit Magazine, March/April 2007, pp 60-61).
</div>


<h3>Quote of the week from my articles and books</h3>

<blockquote>
  <p>After creativity, mediumship is the next step in the long ascent to mystical experience</p>
  <p>Never did the eye see the sun unless it had first become sunlike. And never can the Soul have vision of the First Beauty unless itself be beautiful</p>
  <footer>From Plotinus, 4c NeoPlatonist in his matchless: The Enneads</footer>
</blockquote>

<p>
  A PARADIGM SHIFT IN THINKING: FROM THE SUPERNATURAL TO THE FIRST NATURALISTIC EXPLANATION FOR STATES OF CONSCIOUSNESS INCLUDING: PRECOGNITION, CLAIRVOYANCE, TELEPATHY, OTHER-DIMENSIONAL TRAVEL, DIAGNOSIS AND HEALING
</p>

<p>
  MOVING BEYOND SUPERNATURALISM REQUIRES LEAVING GO THE OLD DUALISTIC METAPHYSICS, IN WHICH THE SPIRITUAL WORLD STOOD OVER AGAINST THE MATERIAL AS CREATOR TO CREATED. IT MEANS RE-MEMBERING ONENESS.
</p>

<p>
  IN THE ONENESS, IT IS OUR NATURE TO TAP INTO THE COSMIC CONVERSATION AND SELECT OUT WHATEVER INFORMATION WE SEEK. THE INTENTION OF SERVICE TO THE OTHER, DETACHMENT, AND ALIGNMENT, ENABLE US ALL TO ACCESS INFORMATION AT EVERY LEVEL - DIRECTLY AND WITH PERSONAL RESPONSIBILITY. WITHOUT THE NEED FOR OR BELIEF IN MEDIATING SPIRITS, GODS, DEVILS OR ANY OTHER EXTERNAL ENTITIES, WITH ALL THEIR PRESUMED POWER AND UNPREDICTABILITY. IN THE ONENESS, BRIDGES VANISH AS OUR OWN GAZE TOUCHES EVERYWHERE AT ONCE.
</p>

<h3>SELF-INSIGHT EMPOWERS</h3>
<h4>FUTURE KNOWLEDGE INSPIRES</h4>
<p>
  LIKE A BIRD hovering over a Great Landscape, I can see the client's whole past, present and future laid out below me. Where key issues arise, I fly down to investigate the details; and, 'as if' I were the client, experience the events through the client's eyes.
Clairvoyance is thus. No spirits, No ghosts, No supernatural hocus pocus. Just the natural expansion of consciousness. Vision achieved through excellent meditative skill.
</p>

<p>
  Every Landscape wants to disclose itself to the one who knows how to look. And, mediumship is about looking in just the right way. The Client is the Great Landscape which I travel at every level - conscious, subconscious, subliminal. Raising subconscious insights to their conscious mind shows the client what they've been hiding from themselves, but are ready to know now. Travelling into their past, present, future, I detail key issues and explore the motives of relevant others. Flying to the last ten to fifteen year stage of the client's life, I ask their own wizened self what s/he thinks of present decisions and how s/he would advise the client now. Thus, the client guides herself in the present from the perspective of old age. Empowered by such knowledge, the client transcends destiny and learns to determine their own future path, safely, and in their unique way.
</p>

<h3>SHORT STORIES </h3>
<p>My Short Stories are often fictionalized or verbatim excerpts from Case Studies with clients. JUDE'S GHOST is based on an actual Case Study which I fictionalized, somewhat. Here are further excerpts which I hope you find fascinating, challenging and funny.</p>

<h5>JUDE'S GHOST</h5>
<p>
  A very frightened woman recently called about a ghost in her house. Everyone had seen it. She herself, her daughter, even her ex-husband who visited rarely. Like Jude, the others had watched the terrifying old woman float ominously through the upstairs rooms but, when she became invisible and stood watching them at night in their beds, something had to be done.
I was in the Boston Borders when my cell phone rang and a highly agitated woman rushed to tell me about a 'ghost' when I interrupted her and said, "I am very sorry. But you have called probably the only medium in the world who does not believe in ghosts!". And we both laughed.
</p>

<p>
  I stood in the kitchen doorway, riveted. Frozen in time. Shivers streamed rhythmically up my spine paralyzing my whole body. My hands became cold stone strucures barely connected to my icy finers lost somewhere in thrall to what was to come. Fully clairvoyant now, I saw Jude's ghost. The same one I had seen in Boston as we had spoken on the phone.
She was lovely. A thoughtful young woman in her early thirties who stood with hands wrapped tightly around each other: a kind mother fretting over her traumatized children who had succumbed to their own raging confusions and had been flung way out of control. This energy form was asking me to help her heal this family. I nodded.
This is the mother archetype, I thought. The mirror image of the young Jude. Not the old crone everyone had seen haunting their lives, but a clairvoyant vision here to guide me.
</p>
