<p>
  Firstly, I would like to say that I am priviliged to have been able to give so many individuals the insights and help they needed. Not a particularly humble person, this work, by its very nature, engulfs you in such gratitude and love that even a rather outspoken person as I am becomes truly humble before a world in which it is possible to see so much, at so many levels, that your own work is a gift to them.
</p>

<h4>ON LOVE</h4>
<blockquote>
  <p>
    Mary, you gave me lots of information. One area you gave a lot of emphasis to, and one which I had difficulty hearing at the time, was love. I had someone on my mind, who you assured me would not give me what I needed; and, alas, he did not. In the session, you described a man I would meet eight months from my birthday - someone I had met, but who was not currently in my life. I would marry this man and have two children with him - one boy, one girl. You said it would take six months from the time I met him for things to firm up into relationship. Well, almost exactly eight months from my 25th birthday, this past August, I met a man named ..... who I had met briefly one year prior. I am hesitant to believe that he is the one you were speaking of because he is so wonderful, although every insight you had matches perfectly with him. . . . . . . You spoke of sensing dance around the relationship, and he is a professional dancer; his physical and emotional description is exactly what you described. I guess I am writing to thank you for your insights. Aside from these, other things you spoke of have helped a great deal.
  </p>
  <footer>Sarah T., Boston, Mass. USA, 2006</footer>
</blockquote>


<h4>TEACHING</h4>
<blockquote>
  <p>
    Mary predicted that a research application I was working on would fail, giving me the image of a shiny silver ball falling out of my hands. She also predicted that the research project would be revamped (the image of a jig-saw with pieces being rearranged), but that the final part of the project would be retained.
  </p>
  <p>
    She said that I would meet with one of the referees who would tell me that he had written an excellent reference for the project. All of this came true, despite the fact that referees are supposed to remain anonymous, so the odds were strongly against the final prediction happening. Mary also predicted that I would have three healthy children, although I was already in my late 30's (she said I would have my third child by the time I was 44) and this seems to be coming true as I am now pregnant with my third child at the age of 44.
  </p>
</blockquote>

<h4>PREDICTIONS CONCERNING CHILDREN</h4>
<blockquote>
  <p>
    When I was 37 years old, Mary predicted that I would have three healthy children. My husband and I wanted a family, but my age was against me and we had infertility problems. Since it took over 2 years of trying and my first child was born when I was aged 40, I became sceptical about the probability of having a further two children. However, Ryan was born when I was 42 and I am now pregnant with my third child.
  </p>
  <p>
    In the case of Ryan, Mary predicted that he would be born on the 6th June and that the cord would be wrapped around his neck. Both predictions came true. Despite my age and associated high risk, she predicted that there would be no problem with Downe's Syndrome and this has also proved to be true
  </p>
  <footer>Judy Lee, Leeds, England, 2000</footer>
</blockquote>

<h4>CONCERNING SELF-INSIGHTS</h4>
<blockquote>
  <p>
    Mary is everything she promises to be. My advice to you is to be gentle with yourself and respect your ability to digest what she tells you. If you ask a question, you will get an answer. ... Clairvoyance is not for the fainthearted. The quality of detachment, which Mary says is necessary for her to have in order to provide an accurate service, is also useful for her clients to have. If you are looking for information to plan your uncertainties better or to know yourself better, this is the best place to come.
  </p>
  <p>
    But think about what information you really need to ask for, and think of how you might possibly react to it before you go. Think carefully about the ethics issues you may have with having information about other people and not being able to tell them. Once you are clear on all these questions, book a session, you won't regret it!.
  </p>
  <footer>V. M., Bradford, May 14, 2001</footer>
</blockquote>

<p>
  (CLARIFICATION: I pointed out to Veronique that no client receives information the other person doesn't want them to know. For example, while I access every persona relevant to the client and ask them questions the client wants them to answer, the persona, though not physically present, knows subconsciously what's being asked and they choose to answer - or not. If they want to keep anything private, they will put up a veil which means, 'Don't pass', which I will not penetrate - visiting consciousnesses, after all, have a right to their privacy. So the client never receives information from anyone that persona does not want them to have. Not from me, anyway. Mary)
</p>

<blockquote>
  <p>
    Mary is my saviour! She has given me detailed and accurate direction throughout the last 12 years, and has helped me cope with some really sensitive issues, none more so than predicting the births of my two children. Having resigned myself to a childless marriage after a string of tragedies, and having been diagnosed by several consultants as being unable to bear children, I had no hope of motherhood. But Mary saw my son and daughter very clearly. And when I told her of the medical evidence against her prediction, she looked off into the distance for a moment, then turned to me and said, 'I don't care about that! I see two healthy children and you will have the first within 14 months from today'. And I did. Twelve months later. Mary quite clearly saw both my children, and predicted a boy first followed by a girl two and a half years later, which is exactly how it happened. She also accurately predicted their very different features and natures. She continues to predict their personalities and to clearly see their futures.
  </p>
  <p>
    There have been many deeply personal issues which Mary has alerted me to and guided me through; career decisions she has clarified and other astounding things like warning me that, at some point, I would be living where a substance under and around my house would be causing me harm. Some years later, shortly after moving into a new house, I became a victim of carbon monoxide poisoning from a newly installed gas supply and a heating system fitted by someone who was not qualified. I shall always turn to Mary when I need help, reassurance or am facing life- changing decisions. Even though some of her predictions can at the time seem quite unpalatable, Mary still manages to inject clear perspective and to be constructive when delivering her 'news'.
  </p>
  <footer>Mrs. L. Bates, London, June 2, 2001</footer>
</blockquote>

<blockquote>
  <p>
    I would highly recommend Mary Moran to everyone. During the lowest and most vulnerable point in my life, I was threatened with black magic. Mary brought me through this difficult time and taught me life was worth living and so enabled me through time to regain my confidence and be happy again.
  </p>
  <p>
    She is a truly caring and genuine person and everything she told me was true and is still coming true all the time. I can't thank her enough for how she helped me.
  </p>
  <footer>Joanne Umpleby, Malton, York (May 18, 2000)</footer>
</blockquote>
