<h2>Remote Questioning</h2>
Having set the vibrational link with the client and with all that is relevant to them, every persona - prior to conception/birth, alive, deceased - is accessible. Thus, the client can directly question their own Child-Self, Elder Self, Mother, Father, Lover, any consciousness the
client needs to contact. Every consciousness is accessible. Whether they vibrate on this plane, or another. In an ontological Oneness, everything is happening at once, so any temporal-spatial boundaries are merely cognitive constructs there to keep us from psychic overload. However, the developed medium safely and astutely accesses all sought persona and information.
<br><br>The client simply asks their questions(s) and I pick up and relay the answers back to them.
<br><br>
Clients find this process reassuring and healing as it enables direct communication with those who may be as yet unborn, far away for whatever
reason, or deceased. Like everything else, consciousness is just energy,
vibrating.
<ul>
	<li><strong>WHAT I DO:</strong> Focus into the client and align my vibration with theirs. </li>
	<li><strong>WHAT YOU DO: </strong>Ask questions at any time. Make sure you can identify the accuracy of what is being said.</li>
</ul>
<br><br>
<strong>YOUR GUARANTEE:</strong> I advise my clients: If the medium does not know everything without being told, don't pay her/him. And you do not pay me
if you are not completely satisfied with your reading. This does not mean that you will hear everything you wish to just as you want it to be, life's not
like that. I means that you will recognize the accuracy/validity of what has been said. The serious client is well-served.
