<h2>The Retrospective: tapping into the client's own future mind, we can question their old wizened self.</h2>
Clients can ask their Elder Self any questions; I relay answers back to the client in the present.<br><br>
<ul> In the same way that you can tap into your Inner child, I can tap into your Elder Self. That persona you will be around the last ten to fifteen year stage of your life. And, through those wizened eyes, I can see how you will assess your present actions, motives, beliefs, and so on. Because we can ask any questions, we can also learn how your later Self wants to guide you now.
Moving past the metaphysical dualism of Spiritualism and New Age belief, we learn that in The Oneness, everything is happening now. With no past or future, we find ourselves in a simultaneity or eternal Present. From the perspective of this holy moment, we stand at center and gaze in all directions. So, accessing your Child Self or Elder Self is just a matter of looking in different directions. For this reason, your Elder Self will help you alter your future based on your own long-range view. All I do is mediate this inner Self-Speaking. You are fundamentally wiser and more angelic than you consciously know. In your own divine center, you are omniscient.

	<li>The Client understands her/his own potentials and most effective means of actualizing them. </li>
	<li>Learns to activate own Free Will to best advantage.</li>
	<li>Becomes the active agent in her/his own life.</li>
</ul>
